# Data Processing

In [11]:
#Import all the necessary packages
import numpy as np
import pandas as pd
from pandas import DataFrame

#To ignore warning
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [12]:
#Load the data
data = pd.read_excel('INX_Future_Inc_Employee_Performance_CDS_Project2_Data_V1.8.xls',index=False)
data.head(2)

,EmpNumber,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,E1001000,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,...,4,10,2,2,10,7,0,8,No,3
1,E1001006,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,...,4,20,2,3,7,7,1,7,No,3

In [13]:
#Basics check
data.shape

(1200, 28)

Insights: This dataset has 1200 rows and 28 columns

In [14]:
#Check the if any NAN values
data.isnull().sum()

EmpNumber                       0
Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

Insights: No NAN values in the data

In [15]:
#Check the if any NAN values
data.isna().sum()

EmpNumber                       0
Age                             0
Gender                          0
EducationBackground             0
MaritalStatus                   0
EmpDepartment                   0
EmpJobRole                      0
BusinessTravelFrequency         0
DistanceFromHome                0
EmpEducationLevel               0
EmpEnvironmentSatisfaction      0
EmpHourlyRate                   0
EmpJobInvolvement               0
EmpJobLevel                     0
EmpJobSatisfaction              0
NumCompaniesWorked              0
OverTime                        0
EmpLastSalaryHikePercent        0
EmpRelationshipSatisfaction     0
TotalWorkExperienceInYears      0
TrainingTimesLastYear           0
EmpWorkLifeBalance              0
ExperienceYearsAtThisCompany    0
ExperienceYearsInCurrentRole    0
YearsSinceLastPromotion         0
YearsWithCurrManager            0
Attrition                       0
PerformanceRating               0
dtype: int64

Insights: No Null values in the data

In [16]:
#To check information about the features and the target variable
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 28 columns):
EmpNumber                       1200 non-null object
Age                             1200 non-null int64
Gender                          1200 non-null object
EducationBackground             1200 non-null object
MaritalStatus                   1200 non-null object
EmpDepartment                   1200 non-null object
EmpJobRole                      1200 non-null object
BusinessTravelFrequency         1200 non-null object
DistanceFromHome                1200 non-null int64
EmpEducationLevel               1200 non-null int64
EmpEnvironmentSatisfaction      1200 non-null int64
EmpHourlyRate                   1200 non-null int64
EmpJobInvolvement               1200 non-null int64
EmpJobLevel                     1200 non-null int64
EmpJobSatisfaction              1200 non-null int64
NumCompaniesWorked              1200 non-null int64
OverTime                        1200 non-null object
EmpLastSalaryHikePercent        1200 non-null int64
EmpRelationshipSatisfaction     1200 non-null int64
TotalWorkExperienceInYears      1200 non-null int64
TrainingTimesLastYear           1200 non-null int64
EmpWorkLifeBalance              1200 non-null int64
ExperienceYearsAtThisCompany    1200 non-null int64
ExperienceYearsInCurrentRole    1200 non-null int64
YearsSinceLastPromotion         1200 non-null int64
YearsWithCurrManager            1200 non-null int64
Attrition                       1200 non-null object
PerformanceRating               1200 non-null int64
dtypes: int64(19), object(9)
memory usage: 262.6+ KB

Insights: The dataset has cobination of both Object and integers data type

In [17]:
#Removal of Employee number which is not required and no impact on the target variable.
data = data.drop(['EmpNumber'],axis=1)
data.head(2)

,Age,Gender,EducationBackground,MaritalStatus,EmpDepartment,EmpJobRole,BusinessTravelFrequency,DistanceFromHome,EmpEducationLevel,EmpEnvironmentSatisfaction,...,EmpRelationshipSatisfaction,TotalWorkExperienceInYears,TrainingTimesLastYear,EmpWorkLifeBalance,ExperienceYearsAtThisCompany,ExperienceYearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition,PerformanceRating
0,32,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,10,3,4,...,4,10,2,2,10,7,0,8,No,3
1,47,Male,Marketing,Single,Sales,Sales Executive,Travel_Rarely,14,4,4,...,4,20,2,3,7,7,1,7,No,3

Insights: Dropping down the employee ID because they do not have any relationship with the target variable

In [19]:
#To check more information about the features and the target variable
data.describe

<bound method NDFrame.describe of       Age  Gender EducationBackground MaritalStatus    EmpDepartment  \
0      32    Male           Marketing        Single            Sales
1      47    Male           Marketing        Single            Sales
2      40    Male       Life Sciences       Married            Sales
3      41    Male     Human Resources      Divorced  Human Resources
4      60    Male           Marketing        Single            Sales
...   ...     ...                 ...           ...              ...
1195   27  Female             Medical      Divorced            Sales
1196   37    Male       Life Sciences        Single      Development
1197   50    Male             Medical       Married      Development
1198   34  Female             Medical        Single     Data Science
1199   24  Female       Life Sciences        Single            Sales

            EmpJobRole BusinessTravelFrequency  DistanceFromHome  \
0      Sales Executive           Travel_Rarely                10
1      Sales Executive           Travel_Rarely                14
2      Sales Executive       Travel_Frequently                 5
3              Manager           Travel_Rarely                10
4      Sales Executive           Travel_Rarely                16
...                ...                     ...               ...
1195   Sales Executive       Travel_Frequently                 3
1196  Senior Developer           Travel_Rarely                10
1197  Senior Developer           Travel_Rarely                28
1198    Data Scientist           Travel_Rarely                 9
1199   Sales Executive           Travel_Rarely                 3

      EmpEducationLevel  EmpEnvironmentSatisfaction  ...  \
0                     3                           4  ...
1                     4                           4  ...
2                     4                           4  ...
3                     4                           2  ...
4                     4                           1  ...
...                 ...                         ...  ...
1195                  1                           4  ...
1196                  2                           4  ...
1197                  1                           4  ...
1198                  3                           4  ...
1199                  2                           1  ...

      EmpRelationshipSatisfaction  TotalWorkExperienceInYears  \
0                               4                          10
1                               4                          20
2                               3                          20
3                               2                          23
4                               4                          10
...                           ...                         ...
1195                            2                           6
1196                            1                           4
1197                            3                          20
1198                            2                           9
1199                            1                           4

      TrainingTimesLastYear  EmpWorkLifeBalance  ExperienceYearsAtThisCompany  \
0                         2                   2                            10
1                         2                   3                             7
2                         2                   3                            18
3                         2                   2                            21
4                         1                   3                             2
...                     ...                 ...                           ...
1195                      3                   3                             6
1196                      2                   3                             1
1197                      3                   3                            20
1198                      3                   4                             8
1199                      3                   3                             2

     ExperienceYearsInCurrentRole  YearsSinceLastPromotion  \
0                               7                        0
1                               7                        1
2                              13                        1
3                               6                       12
4                               2                        2
...                           ...                      ...
1195                            5                        0
1196                            0                        0
1197                            8                        3
1198                            7                        7
1199                            2                        2

      YearsWithCurrManager  Attrition  PerformanceRating
0                        8         No                  3
1                        7         No                  3
2                       12         No                  4
3                        6         No                  3
4                        2         No                  3
...                    ...        ...                ...
1195                     4         No                  4
1196                     0         No                  3
1197                     8         No                  3
1198                     7         No                  3
1199                     0        Yes                  2

[1200 rows x 27 columns]>